[Unit]
Description=HDFS NameNode
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=hadoop
Group=hadoop
Environment=JAVA_HOME={{ java_home }}
Environment=HADOOP_HOME={{ hadoop_home }}
Environment=HADOOP_CONF_DIR={{ hadoop_home }}/etc/hadoop
ExecStart={{ hadoop_home }}/bin/hdfs namenode
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
